  <% if flash.has?(:message) %>
    <div class="message"><%= flash[:message] %></div>
  <% end %>

<section>
  <h2 class="page-header">Welcome <%= current_user.username %> you have
    <%= @birth_count %> days to go!
  </h2>
</section>

<div class="col s12 m8">
  <ul class="collection with-header">
    <li class="collection-header teal lighten-1">
      <h4 class="box-header">
        <% if @baby.name.present? %>
          About <%= @baby.name %>
        <% else %>
          About your baby:
        <% end %>
      </h4>
    </li>
    <li class="baby-items">Gender: <%= @baby.gender %></li>
    <li class="baby-items">Due Date: <%= @baby.due_date.strftime("%-m/%-d/%y") %></li>
    <li class="baby-items">
      <% if @weeks < 4 %>
        Your baby is still growing and not the size of any fruits or vegetables yet.
      <% else %>
        <figure class="image-box">
          <img id="baby" src="images/<%= @weeks %>_weeks.jpg" alt="picture of a <%= Baby::SIZES[@weeks.to_s] %>">
          <figcaption class="baby-data">Your baby is approximately the size of <%= Baby::SIZES[@weeks.to_s] %>.</figcaption>
        </figure>
      <% end %>
      <a href="/baby/edit">Edit</a>
    </li>
  </ul>
</div>

<div class="col s12 m4">
  <ul class="collection with-header">
    <li class="collection-header teal lighten-1"><h4 class="box-header">Appointments</h4></li>
    <li>
      <table class="dash-items">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Apppointment</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% current_user.appointments.order("date ASC, time ASC").each do |appointment| %>
            <tr>
              <td><%= appointment.date.strftime("%-m/%-d") %></td>
              <td><%= appointment.time.strftime("%l:%M%p") %></td>
              <td><%= appointment.name %></td>
              <td><a href="/appointments/<%= appointment.id %>/edit">Edit</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
  </ul>
</div>

<div class="col s12 m6">
  <ul class="collection with-header">
    <li class="collection-header teal lighten-1"><h4 class="box-header">Notes</h4></li>
    <li><% current_user.notes.order("created_at DESC").each do |note| %>
      <div class="list">
        <%= note.created_at.month %>/<%= note.created_at.day %> - <%= note.content %>
        <a href="/notes/<%= note.id %>/edit">Edit</a>
      </div>
    </li>
    <% end %>
    <a href="/notes/new">Add Note</a>
  </ul>
</div>

<div class="col s12 m6">
  <ul class="collection with-header">
    <li class="collection-header teal lighten-1"><h4 class="box-header">Medications</h4></li>
    <li><% current_user.medicines.order("name ASC").each do |medicine| %>
      <div class="list">
        <%= medicine.name %> - <%= medicine.dose %>
        <%= medicine.description %>
        <a href="/medicines/<%= medicine.id %>/edit">Edit</a>
      </div>
    </li>
    <% end %>
    <a href="/medicines/new">Add Medication</a>
  </ul>
</div>

  <section>
    <a class="button" href="/logout">Logout</a>
  </section>