<h2>Edit Appointment</h2>

<form action="/appointments/<%= @appointment.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="appointment_name">Appointment:</label>
  <input type="text" name="appointment[name]" id="appointment_name" value="<%= @appointment.name %>">

  <label for="date">Date:</label>
  <input type="date" name="appointment[date]" id="date" value="<%= @appointment.date %>">

  <label for ="time">Time:</label>
  <input type="time" name="appointment[time]" id="time" value="<%= @appointment.time %>">

  <input type="submit" id="submit" value="Update">
</form>

<br>

<form action="/appointments/<%= @appointment.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" id="submit" value="Delete">
</form>