<div class="form-container row center">
  <h2 class="page-header">Edit Appointment</h2>
  <form class="center" action="/appointments/<%= @appointment.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div class="input-field row">
      <label for="appointment_name">Appointment</label>
      <input type="text" name="appointment[name]" id="appointment_name" value="<%= @appointment.name %>">
    </div>

    <div class="input-field row">
      <label for="date">Date</label>
      <input class="datepicker" type="text" name="appointment[date]" id="date" value="<%= @appointment.date %>">
    </div>

    <div class="input-field row">
      <label for ="time">Time</label>
      <input class="timepicker" type="text" name="appointment[time]" id="time" value="<%= @appointment.time.strftime("%H:%M") %>">
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
  </form>
</div>

<div class="form-container row center">
  <form action="/appointments/<%= @appointment.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button class="btn waves-effect waves-light" type="submit" name="action">Delete</button>
  </form>
</div>